.cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 1040px;
  margin: 0 auto;

  .card {
    cursor: pointer;
    user-select: none;

    width: 200px;
    height: 160px;
    background-color: rgb(228, 159, 245);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    border-radius: 16px;
    margin-top: 16px;
    padding: 8px;
    flex-basis: 210px;

    transition: box-shadow .3s ease;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    .text {
      margin-top: calc(33%);
      display: block;
      height: 20px;
      font-size: 20px;
    }

    .memory {
      display: none;
    }

    .text {
      transition: font-size .2s ease;
    }

    .memory {
      transition: font-size .2s ease;
    }
  }

  .card.success {
    background-color: rgb(132, 212, 132);
  }

  .card.hidden {
    background-color: rgb(223, 97, 245);

    .text {
      display: none;
    }

    .memory {
      margin-top: 55px;
      font-size: 40px;
      font-weight: bold;
      display: initial;
    }
  }

  .card:hover {
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);

    .text {
      font-size: 22px;
    }

    div.memory {
      font-size: 2.6rem;
    }
  }
}

.restartBtn {
  margin: 16px auto;
  text-align: center;
  padding: 16px;
  width: 160px;
  background-color: rgb(70, 249, 255);
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
}